@import url(uno.css);
@import url(monokai.css);

/* Modifications */

body {
  font-size: 16px;
}

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn, 
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories,
.tags,
.post-list__post-tags {
	display: block;
	font-size: .9em;
	margin: .8em 0;
}

.post-tags {
	display: block;
	font-size: 1em;
}

.categories a,
.tags a,
.post-tags a,
.post-list__post-tags a {
  display: inline-block;
  background-color: #f5edff;
  border: 1px solid #e0ccf9;
  border-radius: .25em;
  padding: .2em .4em;
  margin-right: 5px;
  line-height: 1em;
  white-space: nowrap;
}

.post-heading__divider,
.categories-heading__divider,
.tags-heading__divider {
  width: 95%;
  margin: 1.6em 0 1.5em 0;
  border-top: 1px solid #dddddd;
}

.post__divider {
  width: 95%;
  margin: 1.6em 0 1.5em 0;
  border-top: 1px solid #dddddd;
}
.categories__divider,
.tags__divider {
  width: 30%;
  margin: 1.6em 0 1.5em 0;
  border-top: 1px solid #dddddd;
}

.post-meta__tags {
  font-size: 0.9em;
  padding: 0 5px;
}

.post-meta__categories {
  font-size: 0.9em;
  padding: 0 5px;
}

.footer__copyright {
  margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius:100%;
}

.page-navigation {
  font-size: 1em;
  display: block;
  width: auto;
  overflow: hidden;
}

.page-navigation-container {
  display: inline-block;
  position: relative;
  float: left;
  width: 50%;
  height: 2em;
  padding: 0;
  margin: 0;
}

.page-navigation-container-right {
  text-align: right;
}
