---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__categories">on {% for catitem in page.categories %}<a href="{{ site.baseurl }}categories/#{{ catitem }}">{{ catitem }}</a> {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
	<span class="post-tags">{% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">#{{ tag }}</a> {% endfor %}</span>
  </header>
  <hr class="post-heading__divider">

  <section class="post">
    {{ content }}
  </section>
  <hr class="post__divider">
  
  <div class="page-navigation">
    <div class="page-navigation-container">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="page-navigation-container page-navigation-container-right">
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
    </div>
  </div>
  <hr class="post__divider">
  
  {% if page.comments != false and site.idcomments_acct %}
  {% include idcomments.html %}
  <hr class="post__divider">
  {% endif %}
  
  
</article>
